.container {
    text-align: center;
}

.col {
    border: 1px solid rgba(0,0,0,0.5);
}

.row {
    margin-top: 1em;
    background: pink;
    min-height: 5rem;
}

.inner {
    background: silver;
    padding: 0.7 em;
}

.inner-alt {
    background: gray;
    padding: 0.7 em;
}

.variable {
    border: 1px solid black;
}

